body{background-color:#ddd;}
form{margin: 10px;}
form label{display:block;}
form input[type=text]{
	width: 250px;
	border: 1px solid #ccc;
	padding: 5px;
}
form input[type=password]{
	width: 150px;
	border: 1px solid #ccc;
	padding: 5px;
}
form input[type=text]:focus, form input[type=password]:focus{
	border: 1px solid #0cf;
}
form input[type=submit]{
	border: 1px solid #ccc;
	padding: 5px;
	cursor: pointer;
	margin-top: 10px;
}
form input[type=reset]{
	border: 1px solid #ccc;
	padding: 5px;
	cursor: pointer;
	margin-top: 10px;
}